    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Otolith Dataset
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/otoliths/images/">
              <i class="material-icons">dashboard</i>
              <p>Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/map/">
              <i class="material-icons">location_ons</i>
              <p>Sampling Stations</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link annotation_tool" href=".">
              <i class="material-icons">person</i>
              <p>Annotation Tool</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=".">
              <i class="material-icons">library_books</i>
              <p>Image Processing Methods</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/ai/">
              <i class="material-icons">bubble_chart</i>
              <p>Artificial Intelligence Methods</p>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/otoliths/dataview/baltic/">
              <i class="material-icons">bubble_chart</i>
              <p>Deep Learning Experiments</p>
            </a>
          </li>
          


          <li class="nav-item">
            <a class="nav-link" href="/demo/experiments/">
              <i class="material-icons">bubble_chart</i>
              <p>Demo Experiments</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/northsea/">
              <i class="material-icons">bubble_chart</i>
              <p>North Sea Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/balticsea/">
              <i class="material-icons">bubble_chart</i>
              <p>Baltic Sea Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href=".">
              <i class="material-icons">content_paste</i>
              <p>Upload New Dataset</p>
            </a>
          </li>
          
        
          
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          {% else %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'login' %}" >
              <i class="material-icons">directions_run</i>
              <p>Login</p>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/demo/experiments/">
              <i class="material-icons">content_paste</i>
              <p>Demo</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/demo/show_data/">
              <i class="material-icons">content_paste</i>
              <p>Datasets North</p>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/demo/show_data/">
              <i class="material-icons">content_paste</i>
              <p>Datasets Baltic</p>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/demo/show_runs/">
              <i class="material-icons">content_paste</i>
              <p>Models</p>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/demo/show_data/">
              <i class="material-icons">content_paste</i>
              <p>Images</p>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/demo/experiments/">
              <i class="material-icons">content_paste</i>
              <p>Train Existing</p>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/demo/experiments/">
              <i class="material-icons">content_paste</i>
              <p>Test Existing</p>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/demo/show_data/">
              <i class="material-icons">content_paste</i>
              <p>Train New</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/demo/show_data/">
              <i class="material-icons">content_paste</i>
              <p>Test New</p>
            </a>
          </li>


          {% endif %}
        </ul>
      </div>
      

    </div>
