    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Otolith Dataset
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/otoliths/images/">
              <i class="material-icons">dashboard</i>
              <p>Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/map/">
              <i class="material-icons">location_ons</i>
              <p>Sampling Stations</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link annotation_tool" href="/otoliths/researchers/" onclick="return !window.open(this.href, 'test', 'width=1200,height=800')" target="_blank">
              <i class="material-icons">person</i>
              <p>Annotation Tool</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/batch/">
              <i class="material-icons">library_books</i>
              <p>Image Processing Methods</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/ai/">
              <i class="material-icons">bubble_chart</i>
              <p>Artificial Intelligence Methods</p>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/otoliths/experiments/">
              <i class="material-icons">bubble_chart</i>
              <p>Experiments</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/northsea/">
              <i class="material-icons">bubble_chart</i>
              <p>North Sea Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/balticsea/">
              <i class="material-icons">bubble_chart</i>
              <p>Baltic Sea Images</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/upload/">
              <i class="material-icons">content_paste</i>
              <p>Upload New Record</p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="/otoliths/dataview/north/">
              <i class="material-icons">bubble_chart</i>
              <p>North Sea DataSet</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/dataview/baltic/">
              <i class="material-icons">bubble_chart</i>
              <p>Baltic Sea DataSet</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/otoliths/dataview/uploads/">
              <i class="material-icons">bubble_chart</i>
              <p>Uploaded DataSet</p>
            </a>
          </li>
          
          
          
          
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          {% else %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Login</p>
            </a>
          {% endif %}
        </ul>
      </div>
      

    </div>
