{% extends "base.html" %}

{% block title %} <h2>Domain: {{ dataset }}</h2> {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


  <hr>
  <form role="form" method="get" action="." class="col-5">
      
    {% csrf_token %} 

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="label">Filter Based on Data Subset</label>
          {{ form.subset }}
        </div>
      </div>
    </div>
    <span class="text-danger">{{ form.subset.errors }}</span>

    <button type="submit" name="filter" value="0" class="btn pull-left">Filter</button>

    <div class="clearfix"></div>

  </form>



<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class=" text-primary">

        <th>
          Training folder name
        </th>
        <th>
          Pre-requisites
        </th>
        <th>
          Annotations
        </th>
        <th>
         AI Methods
        </th>

      </thead>
      <tbody>
      {% for folder in folders %}
        <tr>

            <td class="foldername">
                <a href="{{ folder.0 }}"><h3>{{ folder.0 }}</h3></a>
            </td>
            <td class="with_valid">
              {% if folder.1 %}
                  <h3>Raw Data</h3>
              {% else %}
                  {% if folder.2 %}
                      <a href="{{ folder.2 }}"><h3>{{ folder.2 }}</h3></a>
                  {% else %}
                    {% if folder.5 %}
                      <form action="." method="post" class="bottom-comp">
                        {% csrf_token %} 
                        <input type="text" name="split_name" value="{{ folder.0 }}" hidden>
                        <input type="text" name="proportion" value="1" hidden>
                        <input type="text" name="process" value="Create-Validation" hidden>
                        <button class="btn-secondary item-right" type="submit">Create validation images</button>
                      </form> 
                    {% elif folder.3 %}
                      <a href="{{ folder.0 }}"><button class="btn-secondary item-right">Load training images</button></a>
                    {% else %}
                      <a href="{{ folder.0 }}/?current_task=annotate"><button class="btn-secondary item-right">Create training annotations</button></a>
                    {% endif %}
                  {% endif %}
              {% endif %}
            </td>
            <td class="with_annotation">
              {% if folder.1 %}
                  <h3>Raw Data</h3>
              {% else %}

                  {% if not folder.4 %}
                    <h4 class="text-red">Missing Requirement</h4>
                  {% endif %}
                  <a href="{{ folder.0 }}/?current_task=annotate"><button {% if folder.4 %} class="btn-secondary item-right" {% else %} class="item-right" disabled {% endif %}>Create/Edit/View Annotations</button></a>
              {% endif %}
            </td>
            <td>
              {% if folder.1 %}
                  <h3>Raw Data</h3>
              {% else %}
                  {% if not folder.4 %}
                    <h4 class="text-red">Missing Requirement!</h4>
                  {% endif %}
                  <a href="{{ folder.0 }}/?current_task=train"><button {% if folder.4 %} class="btn-secondary item-btn-list" {% else %} class="item-btn-list" disabled {% endif %}>Train (U-Net/MRCNN)</button></a>
                  <a href="{{ folder.0 }}/?current_task=test"><button {% if folder.4 %} class="btn-secondary item-btn-list" {% else %} class="item-btn-list" disabled {% endif %}>Predict (U-Net/MRCNN)</button></a>
                  <a href="{{ folder.0 }}/?current_task=ensemble_train"><button {% if folder.4 %} class="btn-secondary item-btn-list" {% else %} class="item-btn-list" disabled {% endif %}>Train (Ensemble)</button></a>
                  <a href="{{ folder.0 }}/?current_task=ensemble_test"><button {% if folder.4 %} class="btn-secondary item-btn-list" {% else %} class="item-btn-list" disabled {% endif %}>Predict (Ensemble)</button></a>

               {% endif %}
            </td>

         </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
