{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %} <h2>Folder: {{ folder }}</h2> {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

<a href="/otoliths/dataview/{{ dataset }}/"><button class="btn-secondary item-link-10">Go back</button></a> 
<a href="/otoliths/dataview/{{ dataset }}/{{ folder }}/?current_task=ensemble_train"><button class="btn-secondary item-link-10">Refresh</button></a>
<span class="item-empty"></span>
<a {% if page_obj.has_previous %} href="?{% load_url_full page=page_obj.previous_page_number %}" {% endif %}><button class="btn-secondary item-link-5" {% if not page_obj.has_previous %} disabled {% endif %}> << </button></a>
<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
<a {% if page_obj.has_next %} href="?{% load_url_full page=page_obj.next_page_number %}" {% endif %}><button class="btn-secondary item-link-5" {% if not page_obj.has_next %} disabled {% endif %}> >> </button></a>
<br>


{% if error_found %}

<h3 class="text-red item-right">Problem encountered: Missing constituent predictions!</h3>

{% endif %}
<form action='.' method='GET' class="item-full">

    <h3 class="item-left">Ensemble method:</h3>
    <select name="aimethod" class="item-right">
        <option {% if not disabled_edit %} selected {% endif %} value="Averaging">Averaging</option>
        <option value="LinearRegression">Linear Regression</option>
        <option {% if disabled_edit %} selected {% endif %}  value="RandomForest">Random Forest</option>
    </select>

    <h3 class="item-left">Select <a href="/otoliths/dataview/{{ dataset }}/{{ folder }}/?current_task=test">Constituent Models</a> (requires more than one, press CTRL while selecting):</h3>
    <select multiple name="weights"  class="item-right"> 
        {% for model_file in all_models %}
        <option  value="{{ model_file }}" selected>{{ model_file }}</option>
        {% endfor %}
    </select>
    <a href="/otoliths/dataview/{{ dataset }}/{{ folder }}/?current_task=test" class="item-left">[Link to generate required predictions]</a>
    <br>
    <input type="text" name="current_task" value="{{ current_task }}" hidden>
    <input type="text" name="split_name" value="{{ split_name }}" hidden>
    <h3 class="item-left">Start Process:</h3>
    <input class="btn-secondary item-right" type="submit" name="ensemble_creation" value="START ENSEMBLE TRAINING">
</form>



{% for image in images %}
    <li class="image-li">
          <a href="{{ image }}"><img id="{{ image }}" class="image-sq" src="{% static 'data/'|add:dataset|add:'/'|add:folder|add:'/'|add:image %}"></a>
    </li>
{% endfor %}

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
