{% extends "base.html" %}

{% block title %} <h2>Section: Upload Data</h2> {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


<form role="form" method="post" action="" enctype="multipart/form-data" class="col-8">
    
  {% csrf_token %} 


{% if upload_type == 'models' %}
    <div class="row">
      <div class="col-md-12">

          <span>Models to Upload:</span>
          {{ form.files }}

      </div>
    </div>
{% else %}

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <span>Folder name:</span>
          {{ form.folder }}
        </div>
      </div>
    </div>
    <!-- <span class="text-danger">{{ form.folder.errors }}</span> -->
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="form-group"> -->
        <span>Data Identifier:</span>
        {{ form.data_id }}
      <!-- </div> -->
    </div>
  </div>

  {% if upload_type == 'images' %}


    <div class="row">
      <div class="col-md-12">

          <span>Images to Upload:</span>
          {{ form.files }}

      </div>
    </div>
  {% elif  upload_type == 'annuli' %}

    <div class="row">
      <div class="col-md-12">
        <span>Annuli Annotations:</span>
          {{ form.ring_groundtruth }}
      </div>
    </div>

  {% else %}


    <div class="row">
      <div class="col-md-12">
        <span>Outer Annotations:</span>
          {{ form.outer_contour }}
      </div>
    </div>

  {% endif %}
{% endif %}
  <button type="submit" name="register" class="btn pull-left">Upload</button>



  <div class="clearfix"></div>

</form>

<h3>All User Uploads ({{ user.get_username }})</h3>
<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class=" text-primary">

        <th>
          Training folder name
        </th>
        <th>
          Pre-requisites
        </th>


      </thead>
      <tbody>
      {% for folder in folders %}
        <tr>
            <td class="foldername">
                <a href="/otoliths/dataview/datasets_{{ user.get_username }}/{{ folder }}"><h3>{{ folder }}</h3></a>
            </td>
            <td class="with_valid">
              <a href="/otoliths/dataview/datasets_{{ user.get_username }}/{{ folder }}"><button class="btn-secondary item-right">Load training images</button></a>
            </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
