{% extends "base.html" %}
{% load static %}
{% block title %} <h2>Section: View Data</h2> {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block container %}


{% if user_uploaded %}
<div>
    <h4>Step 1</h4>
    <form action="." method="post" class="card"><input type="submit" name="mode" value="Detect Outer Contour"><input type="text" name="alpha" value="1.5" hidden></form>
    <!-- <form action="." method="post" class="card"><input type="submit" name="mode" value="Edit Outer Contour"></form> -->
    <a href="?mode=Annotate" onclick="return !window.open(this.href, 'test', '')" target="_blank"><button style="width: 100%;">Edit Outer Contour</button></a>
    <h4>Step 2</h4>
    <form action="." method="post" class="card"><input type="submit" name="mode" value="Scale Image using Contour/Create Training Set (Working Set)"><input type="text" name="scale" value="1.0" hidden></form>
</div>
{% else %}
    {% if with_images %}

      {% if dataset != 'datasets_user' %}
        <h4>Important! Download zenodo data and unzip images to {{ dataset }}/images/ </h4>
        {% if dataset == 'datasets_north' %}
        <p>North Sea: <a href="https://doi.org/10.5281/zenodo.8341092">https://doi.org/10.5281/zenodo.8341092</a></p>
        {% else %}
        <p>Baltic Sea: <a href="https://doi.org/10.5281/zenodo.8341149">https://doi.org/10.5281/zenodo.8341149</a></p>
        {% endif %}
      {% endif %}
      <a href="."><h3>Click an Image For Additional Annotation Options</h3></a>
    {% else %}
        <form action="." method="post">
          <input type="text" name="split_name" value="{{ folder }}" hidden>
          <input type="text" name="image_scale" value="1" hidden>
          <input type="submit" name="process" value="Load Images">
        </form>    
    {% endif %}
{% endif %}


{% if user_uploaded %}
    <ul>
    {% for image in images %}
        <li style="display: inline-block; margin: 5px;">
            <img style="width: 200px; height: 200px; margin: 5px;" src="{% static ''|add:folder|add:'/'|add:image %}">
        </li>
    {% endfor %}
    </ul>
{% else %}
    <ul>
    {% for image in images %}
        <li style="display: inline-block; margin: 5px;">
            <a href="{{ image }}"><img style="width: 200px; height: 200px; margin: 5px;" src="{% static ''|add:folder|add:'/'|add:image %}"></a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock container %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
