{% extends "base.html" %}

{% block title %} <h2>Section: Upload Data</h2> {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block container %}

<div class="img-wrapper" style="display: inline-block; width: 800px; margin: 2px;">
    <img style="width: 800px; height: 800px; margin: 5px;" src="/static/visualize/result.png">
</div>


{% endblock container %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
